
<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="">Daily Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if (loggedin) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hello, <%= user.email %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/behavior/reporting">Go to report</a>
              <a class="dropdown-item" href="/behavior/summary">My summary</a>
              <div class="dropdown-divider"></div>
              <form method="POST" action="/auth/logout">
                <button class="dropdown-item" type="submit">Log out</button>
              </form>
              <!-- <a class="dropdown-item" href="/auth/logout">Log out</a> -->
            </div>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>